VITE_SUPABASE_URL=https://tnmpphysbtoezzjfqxcd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRubXBwaHlzYnRvZXp6amZxeGNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MDQ3NTAsImV4cCI6MjA4ODE4MDc1MH0.RwjC0nru_s46aX_uB9IgxAmY2EzdNRXt8vE2_XSMZmc
